<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denuncia</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
  
        <div class="bg-color-blue" >
            <div class="container ">
                <header  class="d-flex flex-wrap justify-content-center py-3">
                <div class="col-md-3 mb-2 mb-md-0">
                  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                  </a>
                </div>
          
                <ul class="nav nav-pills">
                  <li><a href="/" class="nav-link fs-2 px-2 text-light">  Institucional</a></li>
                  <li><a href="#" class="nav-link fs-2 text-light">Notícias</a></li>
                  <li><a href="#" class="nav-link fs-2 px-2 text-light">Fale conosco</a></li>
                  <li><a href="#" class="nav-link fs-2 px-2 text-light">Cursos e eventos</a></li>
                </ul>
          
               
              </header>
        
              
            </div>
        </div>

        <section class="bg-color-blue" >
            <div class="container">
              <div class="d-flex justify-content-center align-items-center" style="height: 20.72rem!important;">
                <p class="text-white text-denuncia"> <strong> Envie-nos sua denuncia</strong></p>
              </div>
            </div>
        </section>
        
        <section>
           
                <div class="container px-5 mb-5 mt-5">
                    <div class="row shadow bg-body-tertiary rounded">
                        <div class="col-lg-7">
                            <form class="contact1-form validate-form text-center" method="POST" action="/add-denuncia">
                                
                                <div class="row mt-3">
                                    <div class="col-lg-6">
                                        <div class="mb-3 text-start">
                                            <label for="exampleFormControlInput1" class="form-label fs-5">Email</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1 " name="email" placeholder="" required>
                                          </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 text-start">
                                            <label for="exampleFormControlInput1" class="form-label fs-5">Data nascimento</label>
                                            <input type="date" class="form-control" name="nascimento" id="exampleFormControlInput1"required>
                                          </div>
                                    </div>
                               
                                    <div class="w-100 text-start">
                                        <label for="exampleFormControlInput1" class="form-label fs-5">Nome   </label>
                                    <input type="Nome" class="form-control" name="nome" id="exampleFormControlInput1" placeholder="" required>
                                    </div>
                                
                                </div>

                                  <div class="mb-3 text-start mt-3">
                                    <label for="exampleFormControlTextarea1" class="form-label fs-5">Relate os fatos</label>
                                    <textarea class="form-control" name="fatos" id="exampleFormControlTextarea1" rows="3" required></textarea>
                                  </div>

                                  <button type="submit" class="btn btn-primary mb-3">Enviar</button>
                                </form>
                        </div>
                        <div class="col-lg-5 p-4 bg-color-blue radius-style text-white">
                            
                                <div class="media contact-info">
                                <span class="contact-info__icon"><i class="bi bi-house"></i></span>
                                <div class="media-body">
                                <h3>Buttonwood, California.</h3>
                                <p>Rosemead, CA 91770</p>
                                </div>
                                </div>
                                <div class="media contact-info">
                                <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                                <div class="media-body">
                                <h3>00 (440) 9865 562</h3>
                                <p>Seg a Sex 9h às 18h</p>
                                </div>
                                </div>
                                <div class="media contact-info">
                                <span class="contact-info__icon"><i class="ti-email"></i></span>
                                <div class="media-body">
                                <h3>support@colorlib.com</h3>
                                <p>Envie-nos sua dúvida a qualquer momento!</p>
                                </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
          
        </section>

        <footer class="footer_part">
          <div class="container">
        
          <hr>
          
          <div class="text-center ">
          <p>
          Copyright ©<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados
          </p>
          </div>
          
          </div>
          </footer>

    
   
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>