<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
        <div class="container  ">
            <header  class="d-flex flex-wrap justify-content-center py-3 mb-2 " style="position: absolute; z-index: 999; width: 100%; top: 0; left: 0;">
            <div class="col-md-3 mb-2 mb-md-0">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
            </div>
      
            <ul class="nav nav-pills">
              <li><a href="#" class="nav-link fs-2 text-light">Notícias</a></li>
              <li><a href="#" class="nav-link fs-2 px-2 text-light">Fale conosco</a></li>
              <li><a href="/denuncia" class="nav-link fs-2 px-2 text-light">Denuncie aqui o mal uso do recurso público</a></li>
              <li><a href="#" class="nav-link fs-2 px-2 text-light">Cursos e eventos</a></li>
            </ul>
      
           
          </header>
    
          
        </div>
        
    </div>

    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                        <h1>Sobre Nós</h1>
                        <p>O Instituto Araponga de Pesquisa, Inovação, Compartilhamento, Fiscalização e Gerenciamento de Recursos Públicos é uma sociedade civil sem fins lucrativos, com autonomia administrativa criada em Maio de 2016 por um grupo de profissionais jornalistas, programadores, pesquisadores, que se uniram para criar uma unidade fomentadora de projetos na área da educação e formação de lideranças políticas atuando, principalmente, no âmbito da criação de novas plataformas de inclusão cidadã, geração de políticas públicas inovadoras, participativas e transformadoras no seu conjunto socioeconômico, ambiental e cultural.</p>
                        </p>
                        </div>
                        </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner_img d-none d-lg-block">
                    <img src="img/banner_img.png" alt="">
                    </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="mt-5 mb-5">
       <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
            <div class="section_tittle text-center">
                <h2>Conheça mais um pouco da gente</h2>
            <p>A sua criação, também, baseia-se na estruturação de um novo modelo de execução de projetos, estruturados a partir da realidade comunitária de grupos sociais vulneráveis socioeconômica e culturalmente, com metodologias de desenvolvimento que abrangem inovações técnicas, organizacionais e gerenciais, que permitam o gerenciamento e fiscalização de recursos públicos de forma direta, objetiva e transparente, aplicadas de forma a engajar todos os envolvidos nos projetos e aprimorar os resultados de forma eficiente. Com isso, disponibilizar uma abrangente rede de apoio a projetos de pesquisa, desenvolvimento e inovação, caracterizando-se nos termos da Lei Federal de Inovação, Lei N° 10.973, de 02 de Dezembro de 2004 e na Lei N° 13.243, de 11 de Janeiro de 2016.</p>
            </div>
            </div>
            </div>
       </div>
    </section>

    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 learning_img"><img src="img/pexels-sora-shimazaki-5668838.jpg"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Missão</h2>
                    <p class="lead mb-0">Produzir, difundir, apoiar, executar e fomentar projetos e atividades relacionadas ao Compartilhamento, Fiscalização e Gerenciamento de Recursos Públicos, fomentando a pesquisa, o ensino, o desenvolvimento, a extensão, a cultura e inovação de atividades que visem a melhor aplicabilidade destes recursos com qualidade, especialmente voltados para uma educação política de inclusão e sustentabilidade, visando o crescimento e benefício social.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white learning_img"><img src="img/pexels-nataliya-vaitkevich-7173036.jpg"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Visão</h2>
                    <p class="lead mb-0">Ser conhecido nacional e internacionalmente como modelo de gestão, fiscalização e compartilhamento de recursos públicos, execução de projetos e tornar-se referência no parâmetro de inovação e educação política e cidadã.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white learning_img"><img src="img/pexels-kindel-media-7688336.jpg"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Valores</h2>
                    <p class="lead mb-0">Ética; Inclusão; Transparência; Excelência; Compromisso Social; Responsabilidade; Colaboração e Inovação.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer_part mt-5">
        <div class="container">
      
        <hr>
        
        <div class="text-center ">
        <p>
        Copyright ©<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados
        </p>
        </div>
        
        </div>
        </footer>

    
   
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>